In [11]:
import pandas as pd

In [12]:
bmi = pd.read_csv('bmi.csv')
bmi.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [13]:
bmi = bmi.drop('Gender', axis=1)
bmi.head()

   Height  Weight  Index
0     174      96      4
1     189      87      2
2     185     110      4
3     195     104      3
4     149      61      3

In [14]:
# Rename for clarity
bmi = bmi.rename(columns={"Height": "X1", "Weight": "X2", "Index": "y"})
bmi.head()

    X1   X2  y
0  174   96  4
1  189   87  2
2  185  110  4
3  195  104  3
4  149   61  3

In [15]:
# Step 1: Compute necessary sums
bmi['X1_squared'] = bmi['X1'] ** 2
bmi['X2_squared'] = bmi['X2'] ** 2
bmi['X1_y'] = bmi['X1'] * bmi['y']
bmi['X2_y'] = bmi['X2'] * bmi['y']
bmi['X1_X2'] = bmi['X1'] * bmi['X2']

In [16]:
# Totals
n = len(bmi) - 1  # Subtracting 1 for the header row
sum_X1 = bmi['X1'].sum()
sum_X2 = bmi['X2'].sum()
sum_y = bmi['y'].sum()
sum_X1_squared = bmi['X1_squared'].sum()
sum_X2_squared = bmi['X2_squared'].sum()
sum_X1_y = bmi['X1_y'].sum()
sum_X2_y = bmi['X2_y'].sum()
sum_X1_X2 = bmi['X1_X2'].sum()

In [17]:
X1_bar = bmi['X1'].mean()
X2_bar = bmi['X2'].mean()
y_bar = bmi['y'].mean()

In [18]:
# Step 2: Compute regression sums
reg_s_X1_squared = sum_X1_squared - ((sum_X1 ** 2) / n)
reg_s_X2_squared = sum_X2_squared - ((sum_X2 ** 2) / n)
reg_s_X1_y = sum_X1_y - ((sum_X1 * sum_y) / n)
reg_s_X2_y = sum_X2_y - ((sum_X2 * sum_y) / n)
reg_s_X1_X2 = sum_X1_X2 - ((sum_X1 * sum_X2) / n)

print("Regression Sums:")
print(f"reg_s_X1_squared: {reg_s_X1_squared}")
print(f"reg_s_X2_squared: {reg_s_X2_squared}")
print(f"reg_s_X1_y: {reg_s_X1_y}")
print(f"reg_s_X2_y: {reg_s_X2_y}")
print(f"reg_s_X1_X2: {reg_s_X1_X2}")

Regression Sums:
reg_s_X1_squared: 104867.59118236415
reg_s_X2_squared: 512009.4829659322
reg_s_X1_y: -5313.28256513027
reg_s_X2_y: 17218.915831663326
reg_s_X1_X2: -17932.16432865709

In [19]:
# Step 3: b0 and b1, b2 calculations (corrected)
b1 = ((reg_s_X2_squared * reg_s_X1_y) - (reg_s_X1_X2 * reg_s_X2_y)) / \
     ((reg_s_X1_squared * reg_s_X2_squared) - (reg_s_X1_X2 ** 2))

b2 = ((reg_s_X1_squared * reg_s_X2_y) - (reg_s_X1_X2 * reg_s_X1_y)) / \
     ((reg_s_X1_squared * reg_s_X2_squared) - (reg_s_X1_X2 ** 2))

b0 = y_bar - (b1 * X1_bar) - (b2 * X2_bar)

print(f"b0: {b0:.4f}, b1: {b1:.4f}, b2: {b2:.4f}")

b0: 8.0301, b1: -0.0452, b2: 0.0320

In [20]:
def predict_bmi_value(height, weight):
    """
    Predicts the BMI index category value using the regression coefficients.
    """
    return b0 + b1 * height + b2 * weight

def bmi_category_name(bmi_value):
    """
    Returns the BMI category name for a given predicted value.
    """
    categories = {
        0: "Extremely Weak",
        1: "Weak",
        2: "Normal",
        3: "Overweight",
        4: "Obesity",
        5: "Extreme Obesity"
    }
    rounded = int(round(bmi_value))
    return categories.get(rounded, "Unknown")

# Example usage
height = 167
weight = 65
predicted_value = predict_bmi_value(height, weight)
category = bmi_category_name(predicted_value)
print(f"Predicted BMI Value: {predicted_value:.3f}")
print(f"BMI Category: {category}")

Predicted BMI Value: 2.567
BMI Category: Overweight